### Final Project Notebook: Amazon Rainforest wildfires and deforestation analysis

 <img src="https://cnr.ncsu.edu/news/wp-content/uploads/sites/10/2021/11/11182021-amazon-deforestation-istock-facebook.jpg" alt="amazon" width="650" height="250">

#### 1. Motivation

*What is your dataset?*

*Why did you choose this/these particular dataset(s)?*

*What was your goal for the end user's experience?*

In [4]:
# modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
import collections as coll

#### 2. Basic stats

*Write about your choices in data cleaning and preprocessing.*

*Write a short section that discusses the dataset stats, containing key points/plots from your exploratory data analysis.*

#### 3. Data Analysis

*Describe your data analysis and explain what you've learned about the dataset. If relevant, talk about your machine-learning.*

#### 4. Genre

*Which genre of data story did you use?*

*Which tools did you use from each of the 3 categories of Visual Narrative (Figure 7 in Segal and Heer). Why?*

*Which tools did you use from each of the 3 categories of Narrative Structure (Figure 7 in Segal and Heer). Why?*

#### 5. Visualizations

*Explain the visualizations you've chosen.*


*Why are they right for the story you want to tell?*

#### 6. Discussion

*What went well?*

*What is still missing? What could be improved? Why?*

#### 7. Contribution

In [5]:
d = {'MELINA SISKOU' : ['', '', ':)', ':)', ':)', ':)', ':)', '', '', ''], 
     'ALEXANDRA POLYM' : ['', '', '', '', '', '', '', ':)', ':)', ':)'],
     'THOMAS SPYROU' : [':)', ':)', '', '', '', '', '', '', '', '']
     } 
  
# sections    
ct = pd.DataFrame(d, index=['2', '3.1', '3.2', '3.3', '3.4', '3.5', '3.6', '3.7', '3.8', '3.9']) 

ct
# POLYM A.K.A POLYMENOPOULOU s212558
# Melina Siskou s213158 
# Thomas Spyrou s213161

    MELINA SISKOU ALEXANDRA POLYM THOMAS SPYROU
2                                            :)
3.1                                          :)
3.2            :)
3.3            :)
3.4            :)
3.5            :)
3.6            :)
3.7                            :)
3.8                            :)
3.9                            :)